body,
ul,
li,
h1,
p,
blockquote {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Vollkorn", Georgia, serif;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

ul {
  list-style: none;
}

span {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Grid geral */

.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    "header header header"
    "sidenav conteudo anuncios"
    "footer footer footer";
}

/* Header */

.header {
  grid-area: header;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.logo {
  max-width: 200px;
}

.header ul {
  display: flex;
  color: #fff;
  font-size: 1.125rem;
}

.header li > a {
  padding: 10px;
  background: #9968e0;
  border-radius: 5px;
  transition: 0.1s;
}

.header a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.header li + li {
  margin-left: 30px;
}

/* Sidenav */

.sidenav {
  grid-area: sidenav;
  background: #fafbfc;
  padding: 30px;
}

.sidenav li a {
  display: block;
  margin: 0 auto 30px auto;
  max-width: 100px;
  min-width: 60px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgb(44 44 44 / 15%);
  transition: 0.1s ease-out;
}

.sidenav li a:hover {
  background: #9968e0;
}

/* Conteudo Gerais */
.conteudo {
  grid-area: conteudo;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:30px;
  padding: 30px;
  max-width: 900px;
  margin: 0 auto;
  justify-items: stretch
}

p {
  color: #575451;
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: -0.005em;
}

.destaque {
  font-size: 0.875em;
  max-width: 29ch;
  color:#b780fb;
}

.col-wide {
  grid-column: 1/-1;
}

.imagem-1 {
  grid-row: span 2;
  align-self: end;
}

.imagem-2 {
  align-self: end;
}

/* Conteudo */
.titulo h1 {
  color:#a872f8;
  font-size: 3.75rem;
  line-height: 1;
}

.titulo > span {
  color:#a872f8;
  font-size: 0.875rem;
  font-style: italic;
}

.caracteristicas {
  display: grid;
  grid-template-columns: 80px 80px;
  gap:30px;
  align-content: start;
  text-align: center;
}

.caracteristicas > div {
  box-shadow: 5px 5px 15px 0px rgb(44 44 44 / 15%);
  border-radius: 5px;  
}

.numero {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  color:#b07dfb;
  font-size: 3rem;
  border-radius: 5px 5px 0 0;
  padding: 0 10px;
}

.rotulo {
  color:#bf96fb;
  padding: 5px;
}

/* Citação */
.citacao {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  border-radius: 5px;
}
.citacao p {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-style: italic;
  max-width: 500px;
}

/* Atributos */
.atributos {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  border-radius: 5px;
  color:#fff;
  font-family: Courier, monospace;
  font-size: 1.125em;
  grid-row: span 2;
}

.atributos li{
  border-bottom:2px solid #ae79fa;
  padding: 0 0 20px 10px;
  margin-bottom: 20px;
}

.atributos li:last-child {
  margin-bottom: 0;
  border-bottom: none;
}


/* Anuncios */
.anuncios {
  grid-area: anuncios;
  background: #fafbfc;
  display: grid;
  align-content: start;
  padding: 30px;
  gap: 30px;
}

/* Footer */
.footer {
  grid-area: footer;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
}

.footer p {
  color: #fff;
  text-align: center;
}
